/*-------font------------*/   
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Creepster');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Bubblegum+Sans|Covered+By+Your+Grace');
/*-------rset css------------*/

*,
body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Bubblegum Sans', cursive;
    height: 100%;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}
/*---------------Grid with floats-------------------*/

img {
    width: 100%;
    margin: 2% 0;
    display: block;
    border: 0px solid rgba(252, 209, 199, 0.596);
    border-radius: 35px;
    box-shadow: -2px 4px 19px 2px rgb(73, 85, 190);
}

h1 {
    background: rgb(54, 86, 250);
    line-height: 150%;
    border-bottom: 25px groove rgb(109, 111, 128);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    font-family: 'Bungee Inline', cursive;
    font-size: 3em;
}

h2 {
    border-bottom: 5px groove rgb(0, 102, 255);
    display: block;
    padding-top: 2%;
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 2.5em;
}

main {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background: rgba(243, 237, 237, 0.795);
    display: grid;
    padding-bottom: 5px;
    text-align: center;
}
/*-------grid floats------------*/

#grid-floats {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    list-style: none;
    position: relative;
    display: block;
}

#grid-floats .grid-item {
    border: 2px solid rgba(134, 165, 252, 0.19);
    border-radius: 15px;
    width: 21%;
    float: left;
    margin: 0.5% 0.5%;
    padding: 1% 1% 5% 1%;
    position: relative;
    display: block;
    height: 550px;
    line-height: 1.5em;
    overflow: hidden;
}

#grid-floats .grid-item:hover {
    border: 2px solid rgb(16, 55, 230);
}
/*------- end grid floats------------*/
/*-----Media Query--------*/
/*-----pc--------*/

@media only screen and (min-width:769px) {
    #grid-floats .grid-item:nth-child(1) {
        width: 45%;
    }
}
/*-----tablet--------*/

@media only screen and (min-width:321px) and (max-width:768px) {
    #grid-floats .grid-item:nth-child(-n+2) {
        width: 45%;
        height: 450px;
    }
    #grid-floats .grid-item:nth-child(n+3) {
        width: 29%;
        height: 450px;
    }
}
/*------mobile-------*/

@media only screen and (max-width:320px) {
    #grid-floats .grid-item:nth-child(1) {
        width: 90%;
        height: 300px;
        margin: 5px;
    }
    #grid-floats .grid-item:nth-child(n+2) {
        width: 45%;
        height: 410px;
    }
}
/*----- end Media Query--------*/
/*----- grid-flex--------*/

#grid-flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    list-style: none;
    justify-content: center;
}

#grid-flex .grid-item {
    border: 2px solid rgba(134, 165, 252, 0.19);
    border-radius: 15px;
    width: 21%;
    margin: 10px auto;
    padding: 1%;
    margin-right: 1%;
    display: block;
    box-sizing: border-box;
}

#grid-flex .grid-item:hover {
    border: 2px solid rgb(16, 55, 230);
}
/*-----Media Query--------*/
/*-----pc--------*/

@media only screen and (min-width:769px) {
    #grid-flex .grid-item:first-child {
        flex: 35%;
    }
}
/*-----tablet--------*/

@media only screen and (min-width:321px) and (max-width:768px) {
    #grid-flex .grid-item:nth-child(-n+2) {
        flex: 35%;
    }
    #grid-flex .grid-item:nth-child(n+3) {
        flex-basis: 29%;
    }
}
/*------mobile-------*/

@media only screen and (max-width:320px) {
    #grid-flex .grid-item:nth-child(1) {
        flex: 100%;
    }
    #grid-flex .grid-item:nth-child(n+2) {
        flex-basis: 45%;
    }
}
/*----- end Media Query--------*/